.category {
  display: flex;
  flex-direction: column;
  width: 37rem;
}
.category div {
  // margin-right: 2.2rem;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
}
.category div li {
  margin-bottom: 0.3rem;
  background-color: forestgreen;
}
.category div select {
  margin-bottom: 0.1rem;
  background-color: forestgreen;
}
.researchedSec,
.followUpSec {
  margin-top: 0.6rem;
  display: flex;
  flex-direction: column;
}
.researched,
.followUp {
  margin-bottom: 2rem;
  width: 14rem;
  font-size: 1.5rem;
}
.applyDate {
  width: 19rem;
}
// .dateContainer {
//   display: flex;
//   background-color: dodgerblue;
// }
// .dateApplied {
//   margin-bottom: 0.5rem;
//   font-size: 1.5rem;
// }
// .checkbox-list {
//   margin-right: 1rem;
// }
//  overflow-x: auto;

// .listContainer {
//   display: flex;
//   justify-content: space-between;
//   flex-direction: column;
//   width: 97vw;
// }
// .jobListing {
//   display: flex;
//   justify-content: space-between;
//   width: 97vw;
// }
// .listContainer li,
// select {
//   width: 15rem;
//   margin-right: 2rem;
//   font-size: 1.5rem;
//   //   background-color: dodgerblue;
// }
// .editButton {
//   margin-left: auto;
//   padding-left: 1rem;
//   min-width: 7rem;
//   display: flex;
//   justify-content: space-between;
//   height: 2rem;
// }
// .editButton {
//   color: #bbb6b6;
//   border: none;
//   margin-bottom: 5px;
// }
// .editButton:hover {
//   cursor: pointer;
//   color: #ece6e6;
//   transition: ease-in-out 0.5s;
// }
// .editButton:active {
//   transform: scale(0.9);
// }
